body {
    background-color: #f5f5f5;
}

.main-content {
    width: 1200px;
}

div.heading-container{
    display: flex;
    width: 900px;
    border-bottom: solid 2px;
    margin: 30px auto ;
    padding-bottom: 3px;
}


span.heading{
    font-size: 2.4em;
    font-weight: 600;
    margin: 30px 0 10px 0;
    width: 120px;
}

span.item-count{
    font-size: 1.3em;
    font-weight: 400;
    width: auto;
    margin: 50px 0 20px 0;
}


/*左右のコンテナを横並びにする*/
div.flex-container{
    display: flex;

}


/*左の注文処理情報コンテナ*/
div.main-left{
    width: 40%;
    margin-left: 150px;
    margin-bottom: 200px;
}

/*左のコンテナのspanをブロック要素にする*/
.main-right > span{
    display: block;
}
/*右のコンテナのspanをブロック要素にする*/
.main-left > div > div > span{
    display: block;
}


/*カート内商品単体*/
div.item{
    border: 1px solid #9d9d9d;
    padding: 15px;
    margin: 10px 0 20px 0;
    display: flex;
    width: 100%;
}

/*商品画像*/
img.item-img{
    width: 200px;
    height: 200px;
    /*border: 1px solid #9d9d9d;*/
    padding: 2px;
}

/*商品情報*/
div.item-info{
    margin-top: 5px;
    margin-left: 10px;
    width: 100%;
}


span.item-gram{
    margin-right: 0;
}

/*商品価格*/
span.item-price{
    margin-top: 20px;
}

/*在庫情報*/
span.item-stock{
    margin-top: 20px;
}

/*個数セレクトボックス*/
select.quantity{
    padding: 4px 10px;
    margin-left: 10px;
}

/*削除ボタン*/
button.item-delete{
    font-size:13px;
    background-color: white;
    border: solid 1px black;
    width: 50px;
    height: 30px;
    margin: 40px 0 0 114px;
}


/*右のカート内商品情報コンテナ*/
div.main-right{
    border: 1px solid #9d9d9d;
    padding: 30px;
    margin: 10px 0 10px 80px;
    width: 30%;
    height: 100%;
    background-color: #F2F2F2;
}

/*カート情報の行コンテナ*/
div.row{
    margin: 10px 0 0 0;
}

div.item-info-row{
    display: flex;
    justify-content: space-between;
}

/*線*/
div.border{
    margin-top: 10px;
}


/*合計金額*/
span.total-amount{
    font-size: 1.1em;
    font-weight: 600;
}

/*合計金額テキスト*/
span.total-text{
    font-weight: 600;
}

/*合計金額以外の*/
.item-total-text,
.item-total-amount,
.postage-total-text,
.postage-total-amount,
.owned_points-text,
.owned_points,
.use-point-text,
.p-text,
.total-text,
.earned-points-text,
.earned-points
{
    font-size: 0.85em;
}


/*使用ポイントボックス*/
input.point-box{
    width: 80px;
    margin-right: -2px;
    text-align: right;
    padding: 3px 2px;

}

/*スピンボタンを消す(chrome)*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*スピンボタンを消す(FireFox,IE)*/
input[type="number"] {
    -moz-appearance:textfield;
}



/*注文手続きボタン*/
.order{
    background-color: #4FDFFF;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #4FDFFF;
    color: white;
    padding: 10px;
    margin-top: 40px;
    margin-left: 35px;
}

.order-img{
    position: relative;
    bottom: 1px;
    left: 60px;
    width: 17px;
}

.row{
    display: flex;
    justify-content: space-between;
}

/*見つからないときのメッセージ*/
div.not-find{
    width: 900px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    padding-top: 30px;
    text-align: center;
}
