body{
    background-color: #E5E5E5;
}
.headder-img {
    width: 100%;
}
h1{
    margin: 30px 0px ;
    border-bottom: solid 1px;
    width: 230px;
}
.item {
    display: flex;
    margin-left: 30px;
}
.item2{
    margin-left: 40px;
    margin-top: 20px;
}
.merchandises{
    margin-left: 30px;
    width: fit-content;
    display: flex;
    flex-flow: column;
    text-align:left;
}
.margin{
    margin: 0;
    padding: 0;
}
.order{
    background-color: #4FDFFF;
    color: white;
    height: 40px;
    border: 0cm;
}
.cart-image{
   margin-right: 20px; 
}
