body{
    background-color: #E5E5E5;
}

a{
    text-decoration:none;
}

.main-content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}
img.page-img{
    width: 60%;
    margin-top: 50px;
}

.text{
    text-align:left;
}

div.recommend{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

div.chooseByOrigin{
    margin-top: 30px;
}

div.chooseCoffee{
    display: flex;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E5E5;
}

img.drip-img{
    margin-left: auto;
}

div.coffeedrip{
    padding: 30px 30px 0px 30px;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E5E5;
}

div.ranking{
    display: flex;
    margin-left: 55px;
}
div.merchandise{
    margin-left: 20px;
    width: fit-content;
    display: flex;
    flex-flow: column;
    text-align:left;
}

button.merchandise-button{
    background-color: white;
    border-color: black;
    font-weight: bold;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}