body{
    background-color: #E5E5E5;
}

.headder-img{
    width: 100%;
}

div.main-content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}

div.item-detail{
    display: flex;
}
div.merchandise1{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

img.beans1{
    width: 300px;
    height: 300px;
}

div.origin{
    border: solid 1px;
    height: 45px;
    width: 240px;
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 95px;
    background-color: #E5E5E5;
}

.flag-img{
    height: 20px;
    width: 30px;
    margin-left: 5px;
}

.letter2{
    margin-top: 9px;
    margin-left: 30px;
}

.drip{
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    padding: 10px 10px 10px 10px;
    width: 370px;
    height: 230px;
}

.letter3{
    text-align: left;
    flex-direction: column;
    margin-bottom: 5px;
}

.text{
    text-align:left;
}

.point{
    font-size: xx-small;
}

.radar-img{
    height: 250px;
    width: 350px;
}
