body{
    background-color: #f5f5f5;
}

a{
    text-decoration:none;
    color: black;
}

div.chart{
    margin: 30px 0; /*上下に30px余白*/
}

canvas{
}

a:hover{
    text-decoration: underline;
}

div.main-content{
    width: 1200px;
    text-align: center;
}

div.main-left{
    margin-left: 45px;
}

div.main-right{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 40%;
}

h1{
    font-size: 180%;
    margin: 0;
}

/*見出し商品名*/
div.item-name1{
    display: inline-block;
    margin: 40px 0;
    padding: 3px 0;
    border-bottom: solid black 2px;
}

div.item-detail{
    display: flex;
}
div.merchandise1{
    text-align: left;
    display: flex;
    flex-direction: column;
}

img.beans1{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

div.origin{
    border: solid 1px;
    height: 45px;
    width: 240px;
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E5E5;
}

.flag-img{
    height: 20px;
    width: 30px;
    margin-left: 5px;
}

.country-button{
    margin-top: 9px;
    margin-left: 30px;
}

.drip{
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    padding: 15px 15px 3px 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.letter3{
    text-align: left;
    flex-direction: column;
    margin-bottom: 5px;
}

.page-title{
    text-align:left;
}

.point{
    font-size: xx-small;
}

.radar-img{
    height: 250px;
    width: 350px;
}

/* カートボタン */
.orde{
    background-color: #4FDFFF;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4FDFFF;
    color: white;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 20px;
}

.many{
    width: 35px;
    margin-left: 10px;
}

div.name{
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

div.main-explanation{
    border-bottom: solid 1px black;
}

.explanation{
    margin-bottom: 40px;
}

/* お気に入りボタン */
.favorite{
    background-color: white;
    width: 250px;
    padding: 10px;
    font-weight: bolder;
    margin-left: 82px;
}

.recommendation{
    font-size: large;
    border-bottom: solid black;
}

.many-gram{
    margin-right: 230px;
}