body{
    background-color: #E5E5E5;
}

.headder-img{
    width: 100%;
}

div.merchandise1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}

div.merchandise2{
    text-align: left;
    display: flex;
    flex-direction: column;
}

img.beans1{
    width: 370px;
    height: 370px;
    margin-left: 30px;
}

.letter1{
    margin-left: 30px;
}

div.origin{
    width: 200px;
    display: flex;
}

.text{
    text-align:left;
}

.point{
    font-size: xx-small;
}
div.coffeedrip{
    padding: 30px 30px 0px 30px;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E5E5;
}
