body{
    background-color: #E5E5E5;
}


.headder-img {
    width: 100%;
}

/*見出し画像スタイル*/
.beans-header{
    width: 870px;
    height: 150px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

/*並び替えのスタイル*/
.display{
    text-align: right;
    position: relative;right: 210px;
}

/*並び替えのセレクトボックスのスタイル*/
.example{
    direction: rtl;
    position: relative;right: 140px;
    position: relative;bottom: 41px;
}

/*１行の商品情報*/
.item-row{
    margin: 20px 55px;
    width: auto;
    display: flex;
}

/*１件の商品div*/
div.merchandises{
    margin-right: 15px;
    margin-left: 15px;
    width: fit-content;
    display: flex;
    flex-flow: column;
    text-align:left;
}

/*商品画像*/
img.item-img{
    width: 200px;
    height: 170px;
}
/*商品名、価格*/
div.info{
    margin: 0;
    padding: 0;
}

/*商品名*/
span.price{
    text-align: right;
}
