body{
    background-color: #E5E5E5;
}
.headder-img {
    width: 100%;
}
.beans-header{
    width: 870px;
    height: 150px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.display{
    text-align: right;
    position: relative;right: 210px;
}
.example{
    direction: rtl;
    position: relative;right: 140px;
    position: relative;bottom: 41px;
}
.item {
    display: flex;
}
.item2{
    display: flex;
    margin-top: 10px;
}
.merchandises{
    margin-left: 70px;
    width: fit-content;
    display: flex;
    flex-flow: column;
    text-align:left;
}
.margin{
    margin: 0;
    padding: 0;
}
.order{
    background-color: #4FDFFF;
    color: white;
    height: 40px;
    border: 0cm;
}
.cart-image{
   margin-right: 20px; 
}
.item3{
    display: flex;
    margin-top: 10px;
}
.item4{
    display: flex;
    margin-top: 10px;
}
