/* 全ページ共通のCSS */
/* marginやpaddingなどの余白の設定はしない */

/* htmlの設定 */
html{
    height:100%;
}


/* ボディの設定 */
body{
    height: 100%;
}


/* ヘッダー画像仮置きの設定 */
.headder-img{
    width: 100%;
}


/* メインコンテンツの設定 */
.main-content{
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}


/* 商品詳細のレイアウト */
div.merchandise{
    margin-left: 20px;
    width: fit-content;
    display: flex;
    flex-flow: column;
    text-align:left;
}


