body{
    background-color: #E5E5E5;
}

h1{
    font-size: 25px;
    margin: 0px;
}

h2{
    font-size: 13px;
    margin: 10px;
    width: 80%;
    border-bottom: solid 2px black;
}

h3{
    font-size: 10px;
}
div.main-content{
    background-color: white;
    text-align: left;
    
}

div.element{
    margin-left: 200px;
}

div.name{
    display: flex;
}

div.address{
    display: flex;

}

button.savechanges-button{
    color: white;
    background-color: black;
    border-color: black;
    font-weight: bold;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.top-button{
    background-color: white;
    border-color: black;
    font-weight: bold;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  

}

input.text{
    width: 100px;
  }



